.buttonsContainer {
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.imageContainer {
    max-width: 600px;
}

.image {
    width: 100%;
}

.textContainer{
    max-width: 500px;
    margin-left: 50px;
}

.code {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text {
    font-size: 20px;
}
.info {
    font-size: 20px;
}