.input:focus {

}

.input {
    height: 40px;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid #d7d2d2;
    border-radius: 5px;
    padding: 0 10px;
}

.input:focus-visible{

    outline-color: #2d6cec;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    color: #cc0000;
    font-weight: 500;
}

.superInput {
}

.errorInput {
    border: 1px solid #cc0000;
}

.errorInput:focus {
}

.error {
}
