.greetingForm {
    margin: 20px 70px;
}

.inputAndButtonContainer {
}

.error {
    color: #CC0000;
}

.input {

    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
